 #root {
      width: 100%;
      height: 100%;
      vertical-align: center;
 }

 body {
  background: #23252C;
 }
 
 .card--container {
  align-self: center;
  text-align: center;
  background: #1A1B21;
  width: 30%;
  height: 80%;
  margin: auto;
  padding: 0px;
  border-radius: 0px 0px 10px 10px;
 }

 .info--image {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
 }
 
 .info--profession {
    color: #F3BF99;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

 }

 .info--header {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  
 }

.info--link {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;

}

.about--text {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.interests--text {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.about--header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.interests--header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

 .footer--container {
   display: flex;
   justify-content: space-around;
   padding: 30px;
 }

 .about--container {
    padding: 10px 30px 0px;
 }

 .interests--container {
  padding: 10px 30px 30px;
}

.email--button {
  margin: 5px;
  background-color: #D1D5DB;
  color: #374151;
}

.linkedin--button {
  margin: 5px;
  background: #5093E2;
}